<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wanna Update Your Password !!</h1>
    <form action="/changepwd" method="post">
    <input type="text" name="user" placeholder="Enter user name">
    <select name="role">
        <option value="user">User</option>
        <option value="admin">Admin</option>
    </select><br><br>
    <input type="password" name="newPass" placeholder="new Password">
    <input type="password" name="conPass" placeholder="confirm password">
    <input type="submit">
    </form>
</body>
</html>